* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #353535;
}

.container {
  width: 100%;
  max-width: calc(1110px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
ul {
  list-style-type: none;
}
.item {
  font-weight: 400;
  color: #fff;
  margin-right: 10px;
  margin-left: 10px;
}
.flex-nav {
  display: flex;
  justify-content: flex-end;
}
header {
  padding-top: 5px;
  background-color: #dc780b;
}
.basket {
  max-width: 20px;
}
.photo-container {
  max-height: 400px;
  aspect-ratio: 1.23/1;
}
.card-text {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}
.mt {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.6;
  color: #b3b3ba;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 60px;
}
.card-title {
  font-weight: 700;
}
.but {
  padding: 5px 8px 5px 8px;
  aspect-ratio: 4/1;
  background-color: #dc780b;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
}
.flex {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.price {
  font-size: 25px;
  color: #dc780b;
  align-self: center;
}
.size {
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 20px;
  aspect-ratio: 1/1;
  background-color: #dc780b;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-size: 15px;
  margin-right: 5px;
}
.f-size {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.main-img {
  width: 50%;
  height: 100vh;
}
.piza-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* footer styles */
footer {
  font-family: "Montserrat", sans-serif;
}
.wrapper-f {
  display: grid;
  padding-bottom: 30px;
  padding-top: 30px;
  grid-template-areas:
    "a b"
    "c c";
}
.adress1 {
  grid-area: a;
}
.adress2 {
  grid-area: c;
}
.adress3 {
  color: #b3b3ba;
  grid-area: b;
  justify-self: flex-end;
}
.bottom-mail {
  display: flex;
  align-items: center;
}
.bottom-adress {
  max-width: 281px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  color: #24a3ff;
}
.map-link:hover {
  color: #f0145a;
}
.mail-text {
  font-weight: 700;
  color: #24a3ff;
}
.mail-text:hover {
  color: #f0145a;
}
.phone {
  font-weight: 700;
}
.phone-link {
  margin-right: 10px;
  margin-left: 10px;
}
.phone:hover {
  color: #f0145a;
}
.logo-fb:hover .vector-blue {
  transition: 0.3s linear;
  fill: #f0145a;
}
.grey-background {
  background-color: #f5f5fa;
}
.contacts {
  display: flex;
  align-items: center;
}
.category-btnactive {
  padding: 10px 12px 10px 12px;
  aspect-ratio: 4/1;
  background-color: #dc780b;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.category-btn {
  padding: 10px 12px 10px 12px;
  aspect-ratio: 4/1;
  border-radius: 5px;
  border: 1px solid;
  color: #dc780b;
  font-size: 20px;
  text-align: center;
}
.toggler {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}
