* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #353535;
}

.container {
  width: 100%;
  max-width: calc(1110px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
ul {
  list-style-type: none;
}
.item {
  font-weight: 400;
  color: #fff;
  margin-right: 10px;
  margin-left: 10px;
}
main {
  padding-bottom: 30px;
}
.flex-nav {
  display: flex;
  justify-content: flex-end;
}
header {
  padding-top: 5px;
  background-color: #dc780b;
}
.basket {
  max-width: 20px;
}
.photo-container {
  max-height: 400px;
  aspect-ratio: 1.23/1;
}
.card-text {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}
.mt {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.6;
  color: #b3b3ba;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 60px;
}
.card-title {
  font-weight: 700;
}
.but {
  padding: 5px 8px 5px 8px;
  aspect-ratio: 4/1;
  background-color: #dc780b;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
}
.flex {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.price {
  font-size: 25px;
  color: #dc780b;
  align-self: center;
}
.size {
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 20px;
  aspect-ratio: 1/1;
  background-color: #dc780b;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-size: 15px;
  margin-right: 5px;
}
.f-size {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.main-img {
  width: 50%;
  height: 100vh;
}
.piza-container {
  margin-bottom: 30px;
  width: 100%;
}

/* Menu styles */
.category-btnactive {
  padding: 10px 12px 10px 12px;
  aspect-ratio: 4/1;
  background-color: #dc780b;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.category-btn {
  padding: 10px 12px 10px 12px;
  aspect-ratio: 4/1;
  border-radius: 5px;
  border: 1px solid;
  color: #dc780b;
  font-size: 20px;
  text-align: center;
}
.toggler {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* main piscture styles */
.main-picture {
  width: 100%;
}
.pizza-title {
  color: #fff6ea;
  position: absolute;
  top: 300px;
  left: 30px;
}
.about {
  max-width: 75%;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  position: absolute;
  top: 100px;
  left: 30px;
  color: #fff6ea;
}
/* footer styles */
.footer {
  color: #dc780b;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff6ea;
}
.flex-footer {
  display: flex;
  justify-content: space-between;
}
.contact {
  font-size: 18px;
}
.soc-adress {
  max-width: 32px;
  aspect-ratio: 1/1;
  display: inline;
  text-align: center;
}
.ml {
  margin-left: 4px;
}

/* basket */
.koshik {
  min-height: 75vh;
}
